<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>me.remember.rmbd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/liguanghui/.rmb/bin/rmbd-desktop</string>
        <string>serve</string>
        <string>-config</string>
        <string>/Users/liguanghui/Library/Application Support/rmb-desktop/config.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/tmp/rmbd.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/rmbd.stderr.log</string>
</dict>
</plist>
